@{
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}
@* @section pageScripts
{
    <script type="text/javascript" src="~/Content/pages/Login/index.js"></script>
}*@
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Vamos Exercitar ?</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="inputEmail" aria-describedby="emailHelp" placeholder="Email...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Senha">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">Mantenha-me Conectado</label>
                                    </div>
                                </div>
                                <a href="@Url.Action("Login", "Login")" class="btn btn-primary btn-user btn-block">
                                    Login
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("RememberPassword", "Login")">Esqueceu sua senha?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("CreateAccount", "Login")">Criar Uma conta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>