@{
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml"; 
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Cadastro de Conta</h1>
                    </div>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="firstName" placeholder="Primeiro Nome">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="lastName" placeholder="Ultimo Nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="inputCreateEmail" placeholder="Email">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="inputCreatePassword" placeholder="Senha">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" id="inputRepeatPassword" placeholder="Repita Senha">
                            </div>
                        </div>
                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                            Cadastrar Conta
                        </a>
                        <hr>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="@Url.Action("RememberPassword", "Login")">Esqueceu a Senha?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="@Url.Action("Index", "Login")">Eu ja possuo uma Conta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   